#Laboratorio #07

###1- Crea una funcion que retorne el numero mayor de una lista.

In [0]:
def mayor(a):
  may=0
  for i in range(1,len(a)):
    if a[i]>may:
      may=a[i]
  return may

In [163]:
list01=[15,52,14,10,103,13,62]
a = mayor(list01)
print("El mayor es: "+str(a))

El mayor es: 103

###2- Crear funcion que orderne una lista descendentemente.

In [0]:
def descen(a):
  temp=0
  for i in range(0,len(a)-1):
    for j in range(i,(len(a))):
      if a[i]<=a[j]:
        temp=a[j]
        a[j]=a[i]
        a[i]=temp
  return a

In [165]:
list01=[15,52,14,10,103,13,62]
descen(list01)
print(descen(list01))

[103, 62, 52, 15, 14, 13, 10]

###3- Crear una funcion que regrese TRUE si el numero es divisible entre 7 y no es multiplo de 5.

In [0]:
def func(a):
  for i in a:
      if i%7==0 and i%5!=0:
        print("TRUE")
      else:
        print(i)

In [197]:
list01=[15,52,14,35,63,10,103,13,62]
print(func(list01))

15
52
TRUE
35
TRUE
10
103
13
62
None

###4- Crear una funcion que evalue si el numero es primo.

In [0]:
def primo(a):
  for i in a:
    x=i+1
    cont=0
    for j in range(1, x):
      if i%j==0:
        cont+=1
    if cont==2:
      print(str(i)+" numero primo.")
    else:
      print(str(i)+" no es numero primo.")

In [183]:
list01=[1, 2, 3, 13, 35, 103, 62, 152]
print(primo(list01))

1 no es numero primo.
2 numero primo.
3 numero primo.
13 numero primo.
35 no es numero primo.
103 numero primo.
62 no es numero primo.
152 no es numero primo.
None